@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        font-family: 'Pretendard-Regular', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
            'Segoe UI Symbol', 'Noto Color Emoji';
        @apply text-main;
    }
}

@font-face {
    font-family: 'Pretendard-Thin';
    src: url('assets/fonts/Pretendard-Thin.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('assets/fonts/Pretendard-Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('assets/fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('assets/fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('assets/fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Black';
    src: url('assets/fonts/Pretendard-Black.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

input#search {
    background-repeat: no-repeat;
    background-color: #eeeeee;
    width: 303px;
}

input#search::-webkit-input-placeholder {
    background-image: url('./assets/icon/search.svg');
    background-size: contain;
    background-position: 1px center;
    background-repeat: no-repeat;
    text-align: center;
    text-indent: 0;
}
